th,td{
  background-color:#000000;
border:2px White solid;
border-collapse:seperate;
font-family:monospace;
}
a{
  color:White;
}
button.buttons{
  background-color:blue;
  border-radius:50%;
  padding:0px;
  shape-margin:10px;
}
table{
  background-color:White;
  margin:auto;
}
th:hover{
  background-color:#494b4f;
  
}
.child-div{
  position:absolute;
  right:85hv;
  border:2px;
  border-color:purple;
visibility: hidden;
}
.div-1{
  position:relative;
}
.div-2{
  position:relative;
}
.child-div2{
  position:absolute;
  right:85hv;
  border:2px;
  border-color:purple;
  visibility:hidden;

}

