.WLO{
  color:White;
  text-transform:uppercase;
  text-align:center;
  font-size:45px;
  background-color:#3D7251;
  margin:0px;
}
h1{
  color:white; 
}
p{
  color:White;
  font-size:27px;
}
 body{
      border:10px;
   border-style:solid;
      border-color:orange;
     background-image: linear-gradient( to bottom,#11a62c, #cfac3a);
   margin:0px;
    }