.awareness{
  text-transform:uppercase;
  text-align:center;
  font-size:45px;
  background-color:#3D7251; 
  color: white;
  margin:0px;
 
}
.awareness {

    animation: colorChange 3s 1; 
  animation-fill-mode: forwards;
}

@keyframes colorChange {
  0% {
    color: white;
    background-color:#3D7251;
  }
  100% {
    color: red;
    background-color:black;
  }
}
body{
      border:10px;
   border-style:solid;
      border-color:orange;
     color: linear-gradient( to bottom,#11a62c, #cfac3a);
   margin:0px;
    }
body{
  animation:bodyColorChange 3s 1;
  animation-fill-mode: forwards;
}
@keyframes bodyColorChange {
  0% {
    background-color: #A5C90F;
    border-color:orange;
}
  100% {
    background-color:black;
    border-color:red;
  }
}
th,td{
  background-color:#000000;
border:2px White solid;
border-collapse:seperate;
font-family:monospace;
}
th, td{  
  animation:tableColorChange 3s 1;
  animation-fill-mode: forwards;
  
}
@keyframes tableColorChange {
  0% {
    border-color:white;
    color:white;
}
  100% {
    border-color:red;
    color:red;
  }
}
table{
  background-color:White;
  margin:auto;
}
table{
 animation:tableOuterColorChange 3s 1;
  animation-fill-mode: forwards;
}
@keyframes tableOuterColorChange {
  0% {
    background-color:white;
}
  100% {
    background-color:red;
  }
}
h1, p{
 animation:tableOuterColorChange 3s 1;
  animation-fill-mode: forwards;
}
@keyframes tableOuterColorChange {
  0% {
    color:white;
}
  100% {
    color:red;
  }
}
h1{
  font-size: 37px;
  color:white;
}
p{
  font-size: 23px;
  color:white;
}
.Stats{
text-align:center;
}
.AwarenessInfo{
  background-color:black;
 border:ridge 8px red;
}
 